doctype html
html(lang="en")
    head 
        //- Meta Tags
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        //- Page Title
        title Sparkle Template
        //- Page Title Icon
        link(rel='shortcut icon' type='image/x-icon' href='images/logo_light.png')
        //- Normalize Library
        link(rel='stylesheet' href='style/css/libraries/normalize.min.css')
        //- Font Awesome Library
        link(rel='stylesheet' href='style/css/libraries/fontawesome.min.css')
        //- Main Minified CSS File
        link(rel='stylesheet' href='style/css/master.min.css')
        //- Google Fonts
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap')
    body 
        //- Start Mixins
        mixin heading(tit, para)
            .secheader
                img(src="images/axes.png" alt="Axes")
                h1= tit 
                p= para
        mixin skills(ico, word1, word2, paragraph, skill1, wskill1, skill2, wskill2, skill3, wskill3)
            .skill
                .big
                    i(class="fas " + ico)
                    h4
                        | #{word1}
                        br
                        | #{word2} 
                    p= paragraph
                .small
                    h4= skill1
                    span
                        span(style="width: " + wskill1)
                    h4= skill2
                    span
                        span(style="width: " + wskill2)
                    h4= skill3
                    span
                        span(style="width: " + wskill3)
        mixin num-box(num, word)
            .box
                h4= num 
                p= word 
        mixin team-mem(name, number, order, desc)
                .box(data-person=name)
                    img(src="images/team_0" + number + ".webp" alt="Member " + order)
                    p= desc
        //- End Mixins
        //- Start Scroll To Top Button
        button#to-top
            i.fas.fa-chevron-up
        //- End Scroll To Top Button
        //- Start Header
        header
            .container
                img(src='images/logo_light.png' alt='Logo')
                nav
                    label(for='menu')
                        span
                        span
                        span
                    div
                        input#menu(type='checkbox')
                        ul
                            li
                                a(href='#services') Our Services
                            li
                                a(href='#portfolio') Our Portfolio
                            li
                                a(href='#team') Our Team
                            li
                                a(href='#contact') Contact Us
        //- End Header
        //- Start Landing
        section.landing
            h1 design comes to those who wait
            p hello, this is onepage multipurpose template.
            a(href='#' target='_blank') learn more
            i.fas.fa-angle-double-down
        //- End Landing
        //- Start Info
        section.info
            .container
                i.fas.fa-mountain
                p Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Proin eget tortor risus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus.
        //- End Info
        //- Start Services
        section.services#services
            .container
                +heading("our services", "Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in\, elementum id enim. Donec sollicitudin molestie malesuada")
                .content
                    +skills(
                        "fa-print", 
                        "graphic", 
                        "design", 
                        "Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in\, elementum id enim. Donec sollicitudin molestie malesuada",
                        "Ps",
                        "90%",
                        "Ai",
                        "50%",
                        "Ui",
                        "70%"
                    )
                    +skills(
                        "fa-paint-roller", 
                        "web", 
                        "design", 
                        "Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in\, elementum id enim. Donec sollicitudin molestie malesuada",
                        "Ps",
                        "80%",
                        "Ai",
                        "60%",
                        "Ui",
                        "75%"
                    )
                    +skills(
                        "fa-desktop", 
                        "web", 
                        "development", 
                        "Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in\, elementum id enim. Donec sollicitudin molestie malesuada",
                        "Ps",
                        "95%",
                        "Ai",
                        "72%",
                        "Ui",
                        "85%"
                    )
                    +skills(
                        "fa-mobile-alt", 
                        "app", 
                        "development", 
                        "Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in\, elementum id enim. Donec sollicitudin molestie malesuada",
                        "Ps",
                        "47%",
                        "Ai",
                        "68%",
                        "Ui",
                        "87%"
                    )
        //- End Services
        //- Start Awards & Numbers
        section.nums
            .container
                +num-box("694", "completed designs")
                +num-box("321", "pages created")
                +num-box("935", "pages coded")
                +num-box("87", "apps developed")
        //- End Awards & Numbers
        //- Start Portfolio
        section.portfolio#portfolio
            .container
                +heading("our portfolio", "Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in\, elementum id enim. Donec sollicitudin molestie malesuada")
                .content
                    .box
                        button Graphic
                        button Web
                    img(src='images/logo_dark.png' alt='Logo')
                    .box
                        button Development
                        button App
            .imgs
                .box
                    img(src='images/portfolio_01.webp' alt='First Project')
                .box
                    img(src='images/portfolio_02.webp' alt='Second Project')
                .box
                    img(src='images/portfolio_03.webp' alt='Third Project')
                .box
                    img(src='images/portfolio_04.webp' alt='Fourth Project')
                .box
                    img(src='images/portfolio_05.webp' alt='Fifth Project')
                .box
                    img(src='images/portfolio_06.webp' alt='Sixth Project')
            .container
                button.more like what you see?
        //- End Portfolio
        //- Start Video
        section.vid
            video(src='images/video.mp4' autoplay='' loop='' muted='')
            button view our video
        //- End Video
        //- Start Team
        section.team#team
            .container
                +heading("our team", "Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in\, elementum id enim. Donec sollicitudin molestie malesuada")
                .content
                    +team-mem("Walter White", "1", "One", "Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in\, elementum id enim. Donec sollicitudin molestie malesuada")
                    +team-mem("Saul Goodman", "2", "Two", "Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in\, elementum id enim. Donec sollicitudin molestie malesuada")
                    +team-mem("Tyrion Lannister", "3", "Three", "Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in\, elementum id enim. Donec sollicitudin molestie malesuada")
                    +team-mem("Michael Scofield", "4", "Four", "Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Quisque velit nisi, pretium ut lacinia in\, elementum id enim. Donec sollicitudin molestie malesuada")
        //- End Team
        //- Start Testimonials
        section.testimonials
            .container
                .box1
                    p Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetuquis ac lectus. Nulla quis lorem ut libero malesuada feugiat.
                .box2
                    q Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non nulla sit amet nisl tempus convallis justo, lacinia eget malesuada feugiat <span> - John Doe SEO</span>
                .box3
                    img(src='images/about.webp' alt='About')
                .box4
                    q Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non nulla sit amet nisl tempus convallis justo, lacinia eget malesuada feugiat <span> - John Doe SEO</span>
        //- End Testimonials
        //- Start Footer
        footer
            .container
                .content.info
                    img(src='images/logo_light.png' alt='Logo')
                    p Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus.
                    p Created By <span>Graphberry</span><br />Developed By <span>Philopater Hany</span><br />&copy; <span class="year"></span> - Sparkle.Inc
                .content.links
                    h4 Links
                    ul
                        li
                            a(href='#') Home
                        li
                            a(href='#') Services
                        li
                            a(href='#') Portfolio
                        li
                            a(href='#') Testimonials
                        li
                            a(href='#') Support
                        li
                            a(href='#') Terms And Conditions
                .content.about-us
                    h4 About Us
                    ul
                        li
                            a(href='#') Sign In
                        li
                            a(href='#') Register
                        li
                            a(href='#') About Us
                        li
                            a(href='#') Blog
                        li
                            a(href='#') Contact Us
                .content.contact-us
                    h4 Contact Us
                    p Get in touch with us via mail phone.We are waiting for your call or message <a href='mailto:graphberry@gmail.com' target='_blank' class='mail'>graphberry@gmail.com</a>
                    ul
                        li
                            a(href='https://www.facebook.com/philopater.hany.3' target='_blank')
                                i.fab.fa-facebook-f
                        li
                            a(href='https://www.twitter.com/PhilopaterHany4' target='_blank')
                                i.fab.fa-twitter
                        li
                            a(href='#')
                                i.fab.fa-google-plus-g
                        li
                            a(href='https://www.github.com/PhilopaterHany' target='_blank')
                                i.fab.fa-github
        //- End Footer
        //- Main JavaScript File
        script(src="js/master.js")